<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new-profile.css">

    <title>New Profile</title>
</head>

<body>
    <h1>Nudges</h1>
    <!-- One nudge is equal to -->
    <!-- time | message -->
    <h2><%= user.name %>'s Nudgeboard</h2>
    <div class="nudges-table">
        <% for( let i = 0; i < nudges.length; i++ ) { %>
        <div class="nudge">
            <div class="time">
                <%= nudges[i].scheduledFor.toLocaleTimeString("en-US-u-ca-gregory", { timeStyle: 'short' }) %>
            </div>
            <div class="msg">
                <%= nudges[i].content %>
            </div>
            <form action="/new-profile/<%= nudges[i]._id %>?_method=DELETE" method="POST">
                <input type="submit" class="cta-btn" value="-">
            </form>
        </div>
        <% } %>
        <button class="cta-btn" id="add-nudge">Add A Nudge</button>

        <%- include('partials/profile-modals/create.ejs') %>

</body>

</html>